<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  


<div class="container-fluid py-3">
  <h1 class="dashboard-title">Angular Leaflet</h1>

  <div class="row">
    <div class="col-md-6">
      <div id="map" class="dashboard-map"></div>
    </div>
   
       
    <div class="col-md-6">
      <section class="dashboard-section">
        <div class="meteo">
          <div class="meteo-left">
            <div class="weather-info">
              <p class="weather-description">{{ weatherData?.weather[0]?.description }}</p>
              <p class="weather-temperature">{{ weatherData?.main?.temp }}°C</p>
              <p class="air-quality">Qualité de l'air: {{ airQualityData?.list[0]?.main?.aqi }}</p>
            </div>
          </div>
        
        </div>
        
        
      </section>
    </div>
  </div>
</div>







  




