

<app-header [activePage]="activePage"></app-header>


<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->


  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <p class="lead mb-0"></p>
        <h1 class="display-3">URBAN ROOT</h1>
        <p class="lead mb-0 fst-italic"><small></small></p>
      </div>
    </div>
  </div>
</header>

<!-- Page section example for content below the video header -->



  <!--==================== ABOUT ====================-->
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="main-heading">
            <h2>Bienvenue,</h2>
            <h1> {{ profile.name }}</h1>
        
  
          <p class="info-text">
            Build a beautiful, modern website with flexible components built
            from scratch.
          </p>
        </div>
        
        </div>
      </div>
    </div>
  </section>
  
  
