section {
  background-color: black;
}


header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  
      @media (pointer: coarse) and (hover: none) {
        display: none;
      }
  
  
      
    }
  
    .display-3{
      font-size: 20vh;
  }
  
  
  
  
    .container {
      position: relative;
      z-index: 2;
    
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url(../../../../assets/images/jardin.jpg);
      background-repeat: no-repeat; /* Empêche la répétition de l'image */
      background-size: cover; /* Couvre toute la zone sans répéter l'image */
      opacity: 0.5;
      z-index: 1;
    }
 
  
  
    .wrapper {
      padding: 50px 0;
    }

    .main-heading{
      position: relative;
      top: 10vh;
    }
    .main-heading h2 {
      font-size: 86px;
      font-weight: bold;
      color: rgb(225, 139, 19);
    }
    .main-heading h1 {
      font-size: 46px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
    
    .info-text {
      font-size: 16px;
      color: #666;
      margin-bottom: 150px;
      margin-top: 19px;
    }
    
    .btn_wrapper {
      margin-top: 20px;
    }
    
    .btn {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .btn.view_more_btn {
      background-color: #007bff;
      color: #fff;
    }
    
    .btn.documentation_btn {
      background-color: #28a745;
      color: #fff;
      margin-left: 10px;
    }
    
    .btn.view_more_btn:hover,
    .btn.documentation_btn:hover {
      background-color: #0056b3;
    }
    
    .team_img_wrapper img {
      width: 200vh;
      height: 200vh;
      display: block;
      border-radius: 5px;
      position: relative;
      top: 0vh;
      right: 20vh;
      
    }
    