<app-header [activePage]="activePage"></app-header>

<div class="guide-container">
  <h1>Guide de Jardinage Urbain et Durabilité</h1>

  <section class="section-with-image">
    <div class="image">
      <img src="../../../../assets/img/intro.jpg" alt="Introduction au jardinage urbain">
    </div>
    <div class="text">
      <h2>Introduction</h2>
      <p>Le jardinage urbain est bien plus qu'un simple passe-temps; c'est une approche durable pour intégrer la nature dans nos vies citadines. Dans ce guide, vous apprendrez comment créer un espace vert, même dans les environnements les plus restreints, tout en adoptant des pratiques respectueuses de l'environnement.</p>
    </div>
  </section>

  <section class="section-with-image reverse-layout">
    <div class="text">
      <h2>Les Bases du Jardinage Urbain</h2>
      <ul>
        <li><strong>Choisir le bon espace :</strong> Identifiez les endroits ensoleillés et abrités de votre balcon ou de votre terrasse. Optez pour des bacs ou des jardinières adaptés à l'espace disponible.</li>
        <li><strong>Types de plantes :</strong> Optez pour des plantes qui s'adaptent bien aux conditions urbaines, comme les herbes aromatiques, les légumes-feuilles et les plantes grimpantes. Pensez également à des plantes d'intérieur résistantes pour embellir vos espaces.</li>
        <li><strong>Préparation du sol :</strong> Utilisez du terreau de qualité enrichi en compost. Ajoutez des amendements organiques pour améliorer la structure et la fertilité du sol, crucial pour la santé de vos plantes en milieu urbain.</li>
      </ul>
    </div>
    <div class="image">
      <img src="../../../../assets/img/base.jpg" alt="Les bases du jardinage urbain">
    </div>
  </section>

  <section class="section-with-image">
    <div class="image">
      <img src="../../../../assets/img/fin.jpg" alt="Pratiques durables">
    </div>
    <div class="text">
      <h2>Pratiques Durables</h2>
      <ul>
        <li><strong>Compostage :</strong> Transformez vos déchets organiques en compost pour nourrir vos plantes. Utilisez un composteur adapté aux petits espaces urbains, comme un composteur à lombrics.</li>
        <li><strong>Utilisation de l'eau :</strong> Réduisez votre consommation d'eau en installant des systèmes d'arrosage goutte-à-goutte et en collectant l'eau de pluie. Mulchez vos plantes pour conserver l'humidité du sol.</li>
        <li><strong>Choix de plantes :</strong> Sélectionnez des espèces indigènes ou résistantes à la sécheresse qui nécessitent moins d'eau et sont mieux adaptées à votre climat local.</li>
      </ul>
    </div>
  </section>

</div>
